<div class="container text-center my-5">
    <h1 class="display1">
        <span style=" color:#00ff00">"You're not only saving money, you're saving the planet too!"</span>
    </h1>
    <h5 class="text-muted">
        Every time you buy something used product, you're helping to reduce the demand for new products and the
        resources needed to make them. So, <span class="text-primary">"Shop Used Product, Save the world"</span>!
    </h5>
    <button class="btn btn-primary" onClick="window.location.href='/home'">Shop Now !</button>
</div>