<div class="container-fluid pt-5 mx-auto d-flex justify-content-center w-100" id="myAdsContainer">
  <div class="row">
    <div class="col text-center">
      <div class="card">
        <div class="card-header display-5">
          "Sell Your Used Products, Give them a Second Life"
        </div>
        <div class="card-body">
          <h5 class="card-title">Post an Ad inorder to sell your product</h5>
          <p class="card-text">You can help in reducing waste, pollution and greenhouse gas emissions by selling your
            used products to others who needs them.</p>
          <button id="buttonPostNewAd" type="button" class="btn btn-success btn-lg px-4 gap-3" data-bs-toggle="modal"
            data-bs-target="#myModal">
            <i class="fa-solid fa-pen-to-square"></i> Post New Ad
          </button>
        </div>
      </div>
    </div>
  </div>
</div>